.container {
  float: left;
  width: 90%;
  padding-left: 5%; }
  @media only screen and (min-width: 993px) {
    .container .big {
      width: 100%;
      float: left; }
    .container .mid {
      width: 50%;
      float: left; }
    .container .sm {
      width: 25%;
      float: left; }
    .container .xs {
      width: 12.5%;
      float: left; } }
  @media only screen and (max-width: 992px) {
    .container .big {
      width: 100%;
      float: left; }
    .container .mid {
      width: 50%;
      float: left; }
    .container .sm {
      width: 25%;
      float: left; }
    .container .xs {
      width: 12.5%;
      float: left; } }
  @media only screen and (max-width: 768px) {
    .container .big {
      width: 100%;
      float: left; }
    .container .mid {
      width: 100%;
      float: left; }
    .container .sm {
      width: 100%;
      float: left; }
    .container .xs {
      width: 12.5%;
      float: left; } }
